/** {border: 1px solid black;}*/

body {
  background: #cce6ff;
}

header {
  width: 100%;
}

h1 {
  background-color: #ffd480;
  color: #ff704d;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 50px;
  font-family: Tahoma, sans-serif;
}

#buttonSection {
  text-align: center;
}

button {
  display: inline-block;
  width: 30%;
  height: 20px;
  transition: height .5s, font-size .5s;
  color: #006600;
  background-color: #cce6ff;
}

button:hover {
  height: 100px;
  width: 30%;
  font-size: 30px;
  font-weight: bold;
}

form {border: 1px red solid;}

#table_div {
  width:100%;
}

table {
  font-size: 30px;
  text-align: center;
  margin: 30px auto;
}

.locationTD, #hoursRow {
  font-family: Tahoma, sans-serif;
  background-color: #ffd480;
  color: #ff704d;
}

.hourlySales, .storeTotal {
  font-family: Courier, sans-serif;
}

.hourlySales {
  background-color: #ff704d;
  color: #ffd480;
}

.storeTotal {
  background-color: #ffd480;
  color: #006600;
}

th {
  padding: 11px;
}

.locationTD {
  padding: 6px;
}

#blankTD {background-color: #cce6ff}
