body {
  background: #cce6ff;
}

ul {
  font-weight: bold;
  list-style-type: circle;
  list-style-position: inside;
  font-family: Georgia;
  font-size: 20px;
  color: #ff704d;

}

li {
  font-weight: normal;
  line-height: 30px;
  font-family: Arial;
  color: #006600;

;
}
