body {
  background: #cce6ff;
}

header {
  width: 100%;
}

h1 {
  background-color: rgb(255, 212, 128);
  color: #ff704d;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 50px;
}

#buttonSection {
  text-align: center;
}

button {
  display: inline-block;
  width: 30%;
  height: 20px;
  transition: height .5s, font-size .5s;
  color: #006600;
  background-color: #cce6ff;
}

button:hover {
  height: 100px;
  width: 30%;
  font-size: 30px;
  font-weight: bold;
}

#dataDIV {
  text-align: center;
}

ul {
  display: inline-block;
  background-color: rgb(255, 212, 128);
  border: 1px dashed black;
  border-radius: 5px;
  text-align: center;
  width: 15%;
  vertical-align: top;
  font-weight: bold;
  list-style-type: none;
  list-style-position: inside;
  font-family: Georgia;
  font-size: 20px;
  color: #ff704d;
  padding: 15px 20px 15px 20px;
  margin-right: 2px;
  margin-left: 2px;
}

li {
  font-weight: normal;
  line-height: 30px;
  font-family: Arial;
  color: #006600;
}

li:hover {
  background-color: #ff4d94;
  font-weight: bold;
}
